@page "/"
@* @page "/index/{searchTerm}" *@

@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>@_title</PageTitle>

<div class="row text-center" style="min-height: 50vh;">
    <div class="col-md-6 col-md-offset-3 m-auto">
        <div class="mb-3 border-bottom">
            <img src="images/merchindex.png" width="200" alt="MerchIndex" />
            <p>Allt du behöver under ett tak</p>
            <p>Inte medlem ännu? Det är gratis. <a href="companyregister">Bli medlem</a>  nu</p>
        </div>

        <_Search />

    </div>
</div>

@code {
    private string _title = "Hem";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _js.CloseMenu();
    }
}