@page "/home"
@* @page "/index/{searchTerm}" *@

@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>@_title</PageTitle>

<h1 class="text-center">Produkter</h1>

<_Products />

@code {
    private string _title = "Hem";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _js.CloseMenu();
    }
}