@page "/"
@* @page "/index/{searchTerm}" *@

@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>@_title</PageTitle>

<div class="row text-center" style="min-height: 50vh;">
    <div class="col-md-4 col-md-offset-4 m-auto">
        <div class="mb-3 border-bottom">
            <img src="images/merchindex.png" width="200" alt="MerchIndex" />
            <p>Inte <a href="companyregister">medlem</a> ännu? Det är gratis.</p>
        </div>

        <_Search />

    </div>
</div>

@code {
    private string _title = "Hem";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _js.CloseMenu();
    }
}