@page "/"
@* @page "/index/{searchTerm}" *@

@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>@_title</PageTitle>

<div class="row text-center" style="min-height: 50vh;">
    <div class="col-md-4 col-md-offset-4 m-auto">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <img src="images/merchindex.png" width="200" alt="MerchIndex" />
            @* <h5 class="text-body-emphasis">"För din skull"</h5> *@
            @* <h1 class="display-4 fw-normal text-body-emphasis">"Allt samlat för din skull - Merchindex."</h1> *@
            <p class="fs-5 text-body-secondary">Inte <a href="companyregister">medlem <i class="bi bi-person-plus"></i></a> ännu? Det är gratis.</p>
        </div>

        <_Search />

    </div>
</div>

@code {
    private string _title = "Hem";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _js.CloseMenu();
    }
}