<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
        @* <AuthorizeRouteView RouteData="routeData" DefaultLayout=@GetLayoutType()> *@
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    @* <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p class="text-danger text-center">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound> *@
</Router>

@code {
    // private Type GetLayoutType()
    // {
    //     var relativePath = _navigationManager.ToBaseRelativePath(_navigationManager.Uri).ToLower();

    //     if ((relativePath.Contains("admin") || relativePath.Contains("demo")) && relativePath.Contains("login") == false)
    //     {
    //         return typeof(Layout.AdminLayout);
    //     }
    //     else
    //     {
    //         return typeof(Layout.MainLayout);
    //     }
    // }
}