@page "/about"

@* @attribute [Authorize] *@
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>@_title</PageTitle>

<!-- About Us -->
<section class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="about-content">
                    <h3>Welcome To <span>MerchIndex</span></h3>
                    <hr />
                    <p>
                        MerchIndex är en innovativ tjänst som erbjuder en omfattande lista över företag och deras produkter samt tjänster, med en unik funktion att basera resultaten på geografisk närhet. Genom att enkelt söka får användarna en snabb överblick av vilka möjligheter som finns i deras närområde, vilket sparar tid och förenklar beslutsfattandet.
                    </p>
                    <p>
                        För företag är MerchIndex inte bara en plattform för synlighet utan också ett kraftfullt marknadsföringsverktyg. Det hjälper företag att nå rätt målgrupp genom att presentera sina erbjudanden för potentiella kunder på rätt plats och i rätt tid. Plattformens fokus på både lokal relevans och marknadsföringsmöjligheter gör den till ett ovärderligt verktyg för både konsumenter och företag.
                    </p>
                    <div class="button">
                        <a href="contact" class="btn btn-primary"><i class="bi bi-headset"></i> Kontakt</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-img overlay">
                    <div class="button">
                        <a href="https://www.youtube.com/watch?v=nh2aYrGMrIE" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
                    </div>
                    <img src="eshop/images/about.jpg" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us -->



@code {
    private string _title = "Om Oss";

}
