@page "/about"

@* @attribute [Authorize] *@
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>@_title</PageTitle>

<!-- About Us -->
<section class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="about-content">
                    <h3>Welcome To <span>Eshop</span></h3>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. sed ut perspiciatis unde sunt in culpa qui officia deserunt mollit anim id est laborum.  sed ut perspiciatis unde omnis iste natus error sit voluptatem Excepteu </p>
                    <p>sunt in culpa qui officia deserunt mollit anim id est laborum. sed ut perspiciatis Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. sed ut perspi deserunt mollit anim id est laborum. sed ut perspi.</p>
                    <div class="button">
                        <a href="blog.html" class="btn">Our Blog</a>
                        <a href="contact.html" class="btn primary">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-img overlay">
                    <div class="button">
                        <a href="https://www.youtube.com/watch?v=nh2aYrGMrIE" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
                    </div>
                    <img src="eshop/images/about.jpg" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us -->



@code {
    private string _title = "About Us";

}
