@page "/about"

@* @attribute [Authorize] *@
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>@_title</PageTitle>

@* https://getbootstrap.com/docs/5.3/examples/heroes/ *@
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="images/logo.png" alt="MerchIndex">
    <h1 class="display-5 fw-bold">Välkommen till MerchIndex</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Ett digitalt verktyg som utställningsyta, skyltfönster eller marknadsföring. 
            Appen gör produkter och tjänster synliga och tillgängliga för kunderna.
        </p>
        <p class="lead mb-4">
            Kunderna kan söka och jämföra priser till varor och service från olika företag nära sig.
        </p>
        <p class="lead mb-4">
            Försäljare kan lyfta fram specifika varor, informerar om sina öppettider, skapa kampanjer
            eller skicka sina allra senaste och mest spännande erbjudanden till alla sina kunder.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="companyregister"><i class="bi bi-person-plus"></i> Vill du bli medlem</a>
            <a type="button" class="btn btn-outline-primary btn-lg px-4" href="contact"><i class="bi bi-headset"></i> Kontakta oss så beättar vi mer</a>
        </div>
    </div>
</div>

<hr class="my-5" />

<h1 class="text-center mb-5">Kom igån med 3 enkla steg</h1>

<div class="row text-center">
    <div class="col-lg-4">
        <i class="bi bi-person-plus" style="font-size:50px"></i>
        @* <h2 class="fw-normal">Registrera ditt företag</h2> *@
        @* <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p> *@
        <p><a class="btn btn-outline-primary" href="companyregister">Registrera ditt företag >> </a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <i class="bi bi-hourglass" style="font-size:50px"></i>
        <p>Vänta på bekräftelse</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <i class="bi bi-boxes" style="font-size:50px"></i>
        <p>Lägg till produkter</p>
        @* <p><a class="btn btn-outline-primary" href="">Lägg till produkter >> </a></p> *@
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

@* <hr class="my-5" /> *@

@* <!-- About Us -->
<section class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="about-content">
                    <h3>Welcome To <span>MerchIndex</span></h3>
                    <hr />
                    <p>
                        MerchIndex är en innovativ tjänst som erbjuder en omfattande lista över företag och deras produkter samt tjänster, med en unik funktion att basera resultaten på geografisk närhet. Genom att enkelt söka får användarna en snabb överblick av vilka möjligheter som finns i deras närområde, vilket sparar tid och förenklar beslutsfattandet.
                    </p>
                    <p>
                        För företag är MerchIndex inte bara en plattform för synlighet utan också ett kraftfullt marknadsföringsverktyg. Det hjälper företag att nå rätt målgrupp genom att presentera sina erbjudanden för potentiella kunder på rätt plats och i rätt tid. Plattformens fokus på både lokal relevans och marknadsföringsmöjligheter gör den till ett ovärderligt verktyg för både konsumenter och företag.
                    </p>
                    <div class="button">
                        <a href="contact" class="btn btn-primary"><i class="bi bi-headset"></i> Kontakt</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-img overlay">
                    <div class="button">
                        <a href="https://www.youtube.com/watch?v=nh2aYrGMrIE" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
                    </div>
                    <img src="eshop/images/about.jpg" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us --> *@



@code {
    private string _title = "Om Oss";

}
