@page "/terms"

@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>@_title</PageTitle>

<h3 class="mb-3">@_title</h3>
<hr />

<p>Användarvillkor för uppladdning av innehåll</p>

<ol>
    <li class="mb-3">
        Dessa <strong>användarvillkor</strong> (”Villkoren”) reglerar din uppladdning av innehåll (”Innehåll”) på <strong>MerchIndex</strong>.
        Genom att ladda upp Innehåll accepterar du att följa Villkoren:
    </li>
    <li class="mb-3">
        <strong>Förbjudet Innehåll</strong> Du får inte ladda upp Innehåll som:
        <ul>
            <li>Är stötande, obscent, pornografiskt eller innehåller nakenhet.</li>
            <li>Är diskriminerande eller kränkande mot individer eller grupper baserat på ras, etnicitet, kön, religion, sexuell läggning, ålder eller funktionsnedsättning.</li>
            <li>Innehåller hot, hatpropaganda, trakasserier eller mobbning.</li>
            <li>Strider mot lagar eller regler, inklusive men inte begränsat till upphovsrättslagar och varumärkesrätt.</li>
            <li>Innehåller falsk information eller bedrägeri.</li>
        </ul>
    </li>
    <li class="mb-3">
        <strong>Åtgärder vid överträdelse</strong> Om du bryter mot Villkoren förbehåller vi oss rätten att utan förvarning:
        <ul>
            <li>Ta bort eller blockera Innehållet.</li>
            <li>Stänga av eller avsluta ditt konto.</li>
            <li>Vidta rättsliga åtgärder.</li>
        </ul>
    </li>
    <li class="mb-3"><strong>Ansvarsfriskrivning</strong> Du är ensam ansvarig för det Innehåll du laddar upp. Vi tar inget ansvar för eventuella skador som kan uppstå till följd av ditt Innehåll.</li>
    <li class="mb-3"><strong>Ändringar av Villkoren</strong> Vi förbehåller oss rätten att när som helst ändra Villkoren. Du är skyldig att regelbundet granska Villkoren för att säkerställa att du är medveten om eventuella ändringar.</li>

</ol>

@code {
    private string _title = "Användarvillkor";

}
