@page "/products"
@page "/products/{searchTerm}"

@rendermode InteractiveServer

<PageTitle>@_title</PageTitle>
<h2 class="pb-2 border-bottom">@_title</h2>

<_Products SearchTerm="@SearchTerm" />

@code {
    [Parameter] public string? SearchTerm { get; set; }

    private string _title = "Produkter";
}
