@* https://getbootstrap.com/docs/5.3/components/navbar/ *@

<nav class="navbar sticky-top" style="top:52px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
            @* <h4 class="fst-italic"><strong><i class="bi bi-search"></i> Sök </strong></h4> *@
        </a>
        <button class="navbar-toggler btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <i class="bi bi-search" style="font-size:32px;"></i>
            @* <span class="navbar-toggler-icon"></span> *@
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="top:52px;">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    <span class="fst-italic"><strong><i class="bi bi-search"></i> Sök </strong></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <_Search />

            </div>
        </div>
    </div>
</nav>

@code {

}
