
.card-img-top {
    transition: transform 0.3s ease;
}

    .card-img-top:hover {
        transform: scale(1.1);
    }
/*.card-img-top,
.card-cover {
    transition: transform 0.3s ease;
}

.card-img-top:hover,
    .card-cover:hover {
        transform: scale(1.1);
    }*/

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.active {
    font-weight: bold;
}

td.zero_width {
    width: 1%;
    white-space: nowrap;
}


/*
input, .shop.login .form .form-group input {
    border: 1px solid #e6e2f5;
}
a:visited {
    color: white;
}
.zero_width {
    width: 1%;
    white-space: nowrap;
}
.header.shop .header-inner,
.header.shop .search-bar .btnn,
#scrollUp i,
.footer,
.hero-slider .hero-text .btn,
.header .shopping-item .bottom .btn,
.btn {
    background: #06f;
}

.header.shop .middle-inner {
    padding: 0 0;
    background: #fff;
    border-top: 1px solid #eee;
}

.shopping-cart .table td {
    padding: 1px;
}

.info {
    background-color: deepskyblue;
}

.warning {
    background-color: darkorange;
}

.danger {
    background-color: red;
}

.success {
    background-color: limegreen;
}

.shopping-cart {
    padding: 0;
}

.btn.min {
    padding: 0 20px;
    font-size: 17px;
    position: relative;
    top: 1px;
    line-height: 45px;
}

.shopping-summery tbody tr img {
    border-radius: 0;
    width: 60px;
    height: 60px;
}

a:visited, a:not([href]):not([tabindex]), .header.shop .topbar .login a, .header.shop .top-left .list-main li i, .header.shop .list-main li i, .header.shop .list-main li a:hover, .header .shopping .dropdown-cart-header a:hover, .header .shopping-list h4 a:hover, .header.shop .main-category li a:hover, .header.shop .main-category li .mega-menu .single-menu .inner-link a:hover, .header.shop.v2 .nav li:hover a, .header.shop.v2 .nav li.active a, .header.shop.v2 .nav li .dropdown li:hover a, .header.shop .right-bar .sinlge-bar.top-search a:hover, .header.shop .right-bar .sinlge-bar .single-icon:hover, .header.shop .right-bar .sinlge-bar li a:hover, .header .search-top a:hover, .header.sticky.v2 .header-inner .nav li:hover a, .hero-slider .hero-text h1, .hero-area3 .big-content .title span, .hero-area3 .small-content .title span, .hero-area3 .small-content .button .btn:hover, .hero-area4 .big-content .title span, .small-banner .single-banner h3 span, .small-banner .single-banner p, .small-banner .single-banner a:hover, .midium-banner .single-banner h3 span, .midium-banner .single-banner p, .single-product .product-img .product-action a:hover, .single-product .product-img .product-action-2 a:hover, .single-product .product-content h3 a:hover, .shop .range #slider-range, .shop .range .ui-slider-handle.ui-state-default.ui-corner-all, .shop-sidebar .categor-list li a:hover, .shop-sidebar .single-post .content h5 a:hover, .shop-sidebar .single-post .reviews li.yellow i, .shop.single .product-des .total-review:hover, .shop.single .product-des .rating li i, .shop.single .product-des .price span, .shop.single .product-des .size ul li a:hover, .shop.single .quantity .button .btn:hover, .shop.single .cat a:hover, .shop.single .ratting-main .single-rating ul li i, .shop.single .comment-review .rating li i, .shop-home-list .single-list .content a:hover, .shopping-summery tbody .product-name a:hover, .shopping-cart .qty .button .btn:hover, .shopping-summery tbody .action a:hover, .shopping-cart .total-amount .left .coupon form .btn:hover, .shop.login .login-form .lost-pass:hover, .shop-list .list-content .title a:hover, .shop-list .list-content .rating li i, .cown-down .content .price, .shop-newsletter .inner p span, .about-us .about-content h3 span, .about-us .about-img .video:hover, .team .single-team .social-links .social li a:hover, .shop-blog .shop-single-blog .content .title:hover, .shop-blog .shop-single-blog .content .more-btn:hover, .slicknav_nav .slicknav_arrow, .slicknav_nav li .dropdown li a:hover, .slicknav_nav li:hover a, .main-sidebar .categor-list li a:hover, .main-sidebar .single-post .content h5 a:hover, .blog-single .blog-meta .author i, .blog-single .blog-meta span a i, .blog-single .blog-meta span a:hover, .blog-single blockquote i, .blog-single .single-comment .content a:hover, .contact-us .title h4, .contact-us .single-info ul li a:hover, .mail-success .mail-inner h2, .error-page .error-inner h2, .footer .about .call a, .footer .links ul li a:hover, .footer .social ul li a:hover, .breadcrumbs ul li a:hover, .quickview-content .quickview-action-wrap .quickview-wishlist a:hover, .quickview-content .quickview-action-wrap .quickview-compare a:hover, .quickview-content .quantity .button .btn:hover, .default-social ul li a:hover {
    color: darkorange;
}

.header.sticky .header-inner .nav li a {
    color: white;
}

.shop.login .form .form-group input {
    border: grey 1px solid;
}*/

