<div class="single-head">
    <div class="single-info">
        <i class="fa fa-phone"></i>
        <h4 class="title">Tel:</h4>
        <ul>
            <li>+46 700284002</li>
            @* <li>+522 672-452-1120</li> *@
        </ul>
    </div>
    <div class="single-info">
        <i class="fa fa-envelope-open"></i>
        <h4 class="title">Email:</h4>
        <ul>
            <li><span class="__cf_email__">kourosh23@hotmail.com</span></li>
            @* <li><a href=""><span class="__cf_email__">[email&#160;protected]</span></a></li> *@
        </ul>
    </div>
    <div class="single-info">
        <i class="fa fa-location-arrow"></i>
        <h4 class="title">Adress:</h4>
        <ul>
            <li>Stockholm</li>
        </ul>
    </div>
</div>
@code {

}
