<!-- Start Shop Services Area -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="fa-solid fa-user-tie"></i>
                    <h4>&nbsp;</h4>
                    <h4>Registrera ditt företag</h4>
                    @* <h4>Register your company</h4> *@
                    @* <p></p> *@
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-alarm-clock"></i>
                    <h4>Vänta på bekräftelse</h4>
                    @* <h4>&nbsp;</h4> *@
                    <p>Du får ett email</p>
                    @* <h4>Wait for confirmation</h4> *@
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-plus"></i>
                    <h4>Ladda/lägg till produkter / Service</h4>
                    <h4>&nbsp;</h4>
                    @* <h4>Add your products</h4> *@
                    @* <p></p> *@
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>&nbsp;</h4>
                    <h4>Klar</h4>
                    @* <h4>Done</h4> *@
                    @* <p></p> *@
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services Area -->

@code {

}
